#root {
  height: 100vh; /* Ensure the root element takes the full viewport height */  
}
*{
  overflow-y: hidden;
}
.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.leftSide-Main{
  display: flex;
  width: 30%;
  flex-direction: column;
}

.leftSide-Main h1{
  font-size: 5rem;
  margin-bottom: 1rem;
}
.rightSide-Main{
  display: flex;
  flex-direction: column;
}

.Wpm-textUpload{
  display: flex;
  flex-direction: column;
  padding:1rem;
  
}

.Wpm-slider{
  width: 30%;
}



/* Default styles (for larger screens by default) */

/* Smartphones */
@media only screen and (max-width: 600px) {
  /* Styles for smartphones */
}

/* High-Resolution Smartphones */
@media only screen and (max-width: 600px) and (-webkit-min-device-pixel-ratio: 2),
       only screen and (max-width: 600px) and (min-resolution: 192dpi) {
  /* Styles for high-resolution smartphones */
}

/* Tablets */
@media only screen and (min-width: 600px) and (max-width: 900px) {
  /* Styles for tablets */
}

/* High-Resolution Tablets */
@media only screen and (min-width: 600px) and (max-width: 900px) and (-webkit-min-device-pixel-ratio: 2),
       only screen and (min-width: 600px) and (max-width: 900px) and (min-resolution: 192dpi) {
  /* Styles for high-resolution tablets */
}

/* Laptops and Small Desktops */
@media only screen and (min-width: 900px) and (max-width: 1200px) {
  /* Styles for laptops and small desktops */
}

/* Large Desktops */
@media only screen and (min-width: 1200px) {
  /* Styles for large desktops */
}