#root {
  margin: 0 auto;
  height: 100vh; /* Ensure the root element takes the full viewport height */
  display: flex; /* Use flex to center the container */
  justify-content: center; /* Center the container horizontally */
  align-items: center; /* Center the container vertically */
  
}
*{
  overflow-y: hidden;
}
.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.leftSide-Main{
  display: flex;
  width: 30%;
  flex-direction: column;
}
.rightSide-Main{
  display: flex;
  flex-direction: column;
}

.textUpload{
  display: flex;
  flex-direction: column;
  padding:1rem;
  
}

.Wpm-slider{
  width: 30%;
}

h1{
  font-size: 3.5rem;
}