:root {
  --dark: #482c3d;
  --light: #f0f2ef;
}

@keyframes expandDark {
  from {
    clip-path: circle(0% at top right);
  }
  to {
    clip-path: circle(150% at top right);
  }
}

@keyframes expandLight {
  from {
    clip-path: circle(150% at top right);
  }
  to {
    clip-path: circle(0% at top right);
  }
}

.Container {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  min-width: 100dvw;
  transition: background-color 0.3s ease-in-out, color 0.4s ease-in-out;
}

.Container-dark {
  background-color: var(--dark);
  color: #cac9ca;
  animation: expandDark 0.2s forwards;
}

.Container-light {
  background-color: var(--light);
  color: var(--dark);
  animation: expandLight 0.2s backwards;
}

.Header {
  padding: 12px 36px;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.toggle-switch {
  width: 3rem;
  height: 3rem;
}

.Main {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex: 1;
}

.Main__left {
  width: 30rem;
  gap: 4rem;
}

.Main__right, .Main__left {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.Main__left h1 {
  font-size: 7rem;
  line-height: 0.9;
}

.footer {
  margin: 10vw auto;
  text-align: center;
  width: 80vw;
  font-size: 1rem;
  font-weight: 600;
  padding: 8px 0;
  border-top: 0.5px solid var(--dark);
  color: var(--dark);
}

.Logo {
  width: 5rem;
  height: 5rem;
  display: none;
}

.Container-dark .Logo-darkMode {
  display: block;
}

.Container-light .Logo-default {
  display: block;
}

.Logo-div {
  position: relative;
  font-size: 16px;
  line-height: 1.6;
  color: var(--dark);
  z-index: 0;
}

.Logo-div a {
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}

.Logo-div .link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5rem;
  gap: 12px;
  border-radius: 16px;
  overflow: hidden;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
  position: relative;
}

.Logo-div .link::after, .submenu .submenu-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.Logo-div .item:hover .link::after, .submenu .submenu-link:hover:before {
  transform: scaleX(1);
  transform-origin: right;
}

.Logo-div .item .submenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 100%;
  width: 100%;
  opacity: 0;
  transform: translateY(-12px);
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
  border: 1px solid var(--light);
}

.Logo-div .item:hover .submenu {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.submenu-dark {
  background-color: var(--light);
}

.switch-label {
  width: 3rem;
  height: 3rem;
  background-color: var(--dark);
  border-radius: 25px;
  cursor: pointer;
  border: 1px solid var(--dark);
  transition: background-color 0.3s;
  position: absolute;
}

.checkbox {
  display: none;
}

.slider {
  width: 100%;
  height: 100%;
  border-radius: 25px;
  transition: 0.3s;
  position: absolute;
}

.slider::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: var(--dark);
  box-shadow: inset 12px -4px 0px 0px var(--light);
  transition: transform 0.3s, background-color 0.3s, box-shadow 0.3s;
}

.checkbox:checked ~ .slider {
  background-color: var(--light);
}

.checkbox:checked ~ .slider::before {
  transform: translateX(0px);
  background-color: var(--dark);
  box-shadow: none;
}

.RSVP--button {
  width: 10rem;
  height: 2rem;
  font-size: 1rem;
  border-radius: 1rem;
  color: var(--dark);
  box-shadow: 0 0.4rem #dfd9d9;
  cursor: pointer;
  border: 1px solid var(--light);
  transition: all 0.3s;
}

.RSVP--button:hover:not(:disabled) {
  background: #482c3d;
  color: white;
}

.RSVP--button:disabled {
  cursor: auto;
  color: grey;
}

.RSVP--button:active {
  color: white;
  box-shadow: 0 0.2rem #dfd9d9;
  transform: translateY(0.2rem);
}

@media (max-width: 600px) {
  .Container {
    width: 70vw;
    font-size: 11px;
    justify-content: center;
    align-items: center;
  }

  .Main {
    flex-direction: column;
    align-items: center;
  }

  .Main__left {
    width: 80%;
  }

  .Main__left h1 {
    font-size: 3.5rem;
    margin-bottom: -3.5rem;
  }

  .Main__right {
    width: 80vw;
    margin: 0 10vw;
  }

  .Textarea {
    width: 100%;
    height: 25vh;
    margin-bottom: 1rem;
  }

  .Wpm-select {
    width: 5.7rem;
  }

  .RSVP--button--Container {
    width: 100%;
    justify-content: flex-end;
  }

  .Sample-rsvp, .file-upload, .footer {
    display: none;
  }
}
