* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: #f0f2ef;
  color: #482C3D;
  font-family: "Raleway", sans-serif;
}


textarea{
  resize: none;
}

